{
	admin off
	email {$CADDY_ADMIN_EMAIL}
}

https://{$PUBLIC_DOMAIN} {
	reverse_proxy api:3000

	headers {
		Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"
		Referrer-Policy "no-referrer"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Cross-Origin-Opener-Policy "same-origin"
	}

	@ws {
		header Connection *Upgrade*
		header Upgrade websocket
	}
	reverse_proxy @ws api:3000
}

http://{$PUBLIC_DOMAIN} {
	redir https://{$PUBLIC_DOMAIN}{uri}
}
